.form{
    display: flex;
    flex-direction: column;
    padding: 1rem 7rem;
}

.name{
    margin-bottom: 10px;
}

.form input{
    padding: 6px 10px;
    border:1px solid rgb(226, 209, 209);
    border-radius: 4px;
}

.btn h3{
    padding: 0;
    margin: 0;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}



.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn button{
    color:rgb(12, 194, 240);
    background-color: inherit;
    border:1px solid rgb(12, 194, 240);
    border-radius: 2rem;
    padding: 1px 20px;
    cursor: pointer;
}

.btn button:hover{
    background-color: lavender;
}

.plus{
    font-size: 2rem;
    margin-right: 6px;
}

.btn2{
    color:rgb(254, 255, 255);
    background-color: rgb(5, 5, 121);
    border:1px solid rgb(12, 194, 240);
    border-radius: 2rem;
    cursor: pointer;
    padding: 10px 25px;
    margin-top: 1rem;
    width: 7rem;
}

.btn2:hover{
    background-color: rgb(5, 78, 121);
}


p{
    margin: 0;   
   }
   
   .childrenItem{
       margin-top: 1.2rem;
   }
   
   .child{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
   }
   .child input{
       width: 14rem;
       margin-right: 10px;
       max-width: 40%;
   }
  
   
   .btn3 button{
       color:rgb(12, 194, 240);
       background-color: inherit;
       border:1px solid rgb(12, 194, 240);
       border-radius: 2rem;
       cursor: pointer;
   }
   
   .btn3 button:hover{
       background-color: lavender;
   }